.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.block {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.blockMenu {
    width: 100%;
}
