.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menuHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.menuHeader button {
    border: 0;
}
